@import '../../../common';

.social-icons {
  @include silver-hgradient();
  height: 64px;
  overflow: hidden;
  max-width: 160px;

  img {
    margin: 10px 1%;
    max-height: 80%;
    width: 30%;
  }
}
