<gt-container [hasWallpaper]="false" backgroundImage="assets/bg-blog.jpg">
  <div class="wrapper">
    <h2 class="section-heading font-effect-shadow-multiple">Occupational Therapy Services</h2>
    <div class="description">
      <p>
        Occupational therapy is the only profession that helps people across the lifespan to do the things they want and
        need to
        do through the therapeutic use of daily activities (occupations). Occupational therapy practitioners enable
        people
        of
        all ages to live life to its fullest by helping them promote health, and prevent—or live better with—injury,
        illness, or
        disability.
      </p>

      <p>
        For children, these daily activities include finding meaningful participation in their roles as a child,
        sibling,
        friend, student, artist, athlete, explorer, and many more! Interventions include helping children participate
        fully in
        social situations, self-care, household routines, and academic demands.
      </p>

      <div class="services">
        Occupational therapy services typically include:
        <ul>
          <li>
            an individualized evaluation, during which the family (including the child) and occupational therapist
            determine
            strengths-based goals
          </li>
          <li>
            customized intervention to improve the child's ability to perform daily activities and reach the goals
          </li>
          <li>
            regular progress monitoring and reassessment to ensure that the goals are being met and/or make changes to
            the
            intervention plan.
          </li>
        </ul>
      </div>
      <p>
        Occupational therapy practitioners have a holistic perspective, in which the focus is on adapting the
        environment
        and/or
        task to fit the person. Both the child and their family is an integral part of the therapy team. It is an
        evidence-based
        practice deeply rooted in science.
      </p>
      <div class="resources">
        <h3>Resources</h3>
        <a href="/assets/pdf/What-Is-OT-Children.pdf" target="_blank">What is Occupational Therapy?</a>
        <a href="https://www.aota.org/About-Occupational-Therapy/Patients-Clients/ChildrenAndYouth/video-play-important-part-of-your-day.aspx"
          target="_blank">Occupational Therapy Video: Make Play an Important Part of Your Family's Day</a>
        <a href="https://www.aota.org/~/media/Corporate/Files/AboutOT/Professionals/WhatIsOT/CY/Fact-Sheets/Children%20and%20Youth%20fact%20sheet.pdf"
          target="_blank">Occupational Therapy Fact Sheet</a>
        <a href="https://www.aota.org/~/media/Corporate/Files/AboutAOTA/Centennial/Brand/Toolbox/Brand-Material/What-Is-OT-Children.pdf"
          target="_blank">Occupational Therapy Brochure</a>
      </div>
    </div>
  </div>
</gt-container>
