<gt-container [hasWallpaper]="false" backgroundImage="assets/bg-about.jpg">
  <div id="inner-content">
    <!-- TEAM -->
    <div id="team">
      <h2 class="section-heading font-effect-shadow-multiple">The Grow & Tell Team</h2>

      <gt-team-member
        [name]="jess.name"
        [imageSrc]="jess.imageSrc"
        [title]="jess.title"
        [description]="jess.description"
        [facebookHref]="jess.facebookHref"
        [linkedInHref]="jess.linkedInHref"
        [testimonials]="jess.testimonials"
      ></gt-team-member>

      <gt-team-member
        [name]="julie.name"
        [imageSrc]="julie.imageSrc"
        [title]="julie.title"
        [description]="julie.description"
        [facebookHref]="julie.facebookHref"
        [linkedInHref]="julie.linkedInHref"
        [testimonials]="julie.testimonials"
      ></gt-team-member>

      <gt-team-member
        [name]="kristen.name"
        [imageSrc]="kristen.imageSrc"
        [title]="kristen.title"
        [description]="kristen.description"
        [facebookHref]="kristen.facebookHref"
        [linkedInHref]="kristen.linkedInHref"
        [testimonials]="kristen.testimonials"
      ></gt-team-member>

      <!-- <div class="team-member">
        <img src="assets/ashaweb-71_600.jpg" class="img-responsive img-circle" alt="">
        <h4>American Speech-Language-Hearing Association</h4>
        <p class="text-muted">Certified Members</p>
        <ul class="list-inline social-buttons">
        </ul>
      </div> -->
    </div>
    <!-- END TEAM -->

    <!-- PARTNERSHIPS -->
    <!-- <aside class="clients">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img src="assets/asha.jpg" class="img-responsive img-centered" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img src="assets/psha.gif" class="img-responsive img-centered" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img src="assets/capital-blue-cross.png" class="img-responsive img-centered" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img src="assets/highmark.png" class="img-responsive img-centered" alt="">
            </a>
          </div>
        </div>
      </div>
    </aside> -->
    <!-- END PARTNERSHIPS -->
  </div>
</gt-container>
