<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">The Grow & Tell Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img src="assets/jess.jpg" class="img-responsive img-circle" alt="">
          <h4>Jessica Over</h4>
          <p class="text-muted">Speech Language Pathologist</p>
          <ul class="list-inline social-buttons">
            <li>
              <a target="_blank" href="https://www.facebook.com/grow.and.tellSLP/?pnref=lhc">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.linkedin.com/in/jessica-over-9a697011b?trk=nav_responsive_tab_profile">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <p class="team-member-desc">
            Jessica is a nationally and state certified Speech-Language Pathologist in Carlisle, Pennsylvania. She holds her Level II
            Pennsylvania teaching certification for Speech-Language Impaired students K-12. Jessica has been a Speech-Language
            Therapist in the school setting since 2010. In addition, Jessica has worked in rehabilitation Speech-Language
            therapy services and Early Intervention Speech-Language therapy services (birth-3 years). She started her private
            Speech-Language therapy business in November of 2014. In her spare time Jessica enjoys being a mother to two
            girls and a wife. She enjoys reading and being outdoors.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="assets/ashaweb-71_600.jpg" class="img-responsive img-circle" alt="">
          <h4>American Speech-Language-Hearing Association</h4>
          <p class="text-muted">Certified Members</p>
          <ul class="list-inline social-buttons">
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="assets/julie.jpg" class="img-responsive img-circle" alt="">
          <h4>Julie Brent</h4>
          <p class="text-muted">Speech Language Pathologist</p>
          <ul class="list-inline social-buttons">
            <li>
              <a target="_blank" href="https://www.facebook.com/grow.and.tellSLP/?pnref=lhc">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <p class="team-member-desc">
            Julie is a nationally and state certified Speech-Language Pathologist in Carlisle, Pennsylvania. She holds her Level I Pennsylvania
            teaching certification for Speech-Language Impaired students K-12. Julie has been a Speech-Language Therapist
            in the school setting since 2013. She began providing private services in 2016 with Grow & Tell SLP. In her spare
            time Julie enjoys coaching the Carlisle high school cheerleaders as well as being a wife.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted"></p>
      </div>
    </div>
  </div>
</section>

<!-- Clients Aside -->
<aside class="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="assets/logos/asha.jpg" class="img-responsive img-centered" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="assets/logos/psha.gif" class="img-responsive img-centered" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="assets/logos/capital-blue-cross.png" class="img-responsive img-centered" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="assets/logos/highmark.png" class="img-responsive img-centered" alt="">
        </a>
      </div>
    </div>
  </div>
</aside>