#inner-content {
  min-width: 500px;

  gt-email {
    max-width: 100%;
  }

  .pdf-link.mat-stroked-button {
    border-color: #000;
    color: #000;
    padding: 10px;
    font-size: 24px;

    mat-icon {
      margin-right: 5px;
    }
  }
}

<<<<<<< HEAD
@media screen and (max-width: 800px) {
    display: block !important;
    #inner-content {
        gt-email {
            display: block;
            width: 98%;
            margin: 20px auto;
        }
        gt-address {
            display: block;
            width: 80%;
            margin: 20px auto;
        }
        .pdf-link.mat-stroked-button {
            display: block;
            width: 90%;
            margin: 20px auto;
        }
=======
@media screen and (max-width: 700px) {
  #inner-content {
    display: block;

    gt-email {
      display: block;
      width: 98%;
      margin: 20px auto;
    }

    gt-address {
      display: block;
      width: 80%;
      margin: 20px auto;
>>>>>>> 162047b81d24c3f41469304828862ced74001924
    }

    .pdf-link.mat-stroked-button {
      display: block;
      width: 90%;
      margin: 20px auto;
    }
  }
}
