<!-- <gt-header [windowWidth]="contentWidth" [offsetLeft]="offsetLeft" [mobile]="mobile"></gt-header>
<gt-sidenav *ngIf="!mobile" [style.height.px]="sidenavHeight"></gt-sidenav> -->

<div id="content" class="scrollable" [style.height.px]="windowHeight" [style.width.px]="windowWidth" [style.left.px]="0"
  [style.background-image]="hasBackgroundImage ? 'url(' + backgroundImage + ')' : 'none'">
  <ng-content></ng-content>
  <iu-wallpaper *ngIf="hasWallpaper" [images]="images" [imageOpacity]="0.6" [shuffle]="true" [offsetLeft]="0"
    [offsetTop]="0"></iu-wallpaper>
  <!-- <button id="help" mat-fab *ngIf="showHelp" routerLink="/contact">
    <mat-icon aria-label="Email Us">help</mat-icon>
  </button> -->
</div>
