$primary-color: #7cfc00;
$accent-color: #8e8e8e;

@mixin primary-gradient {
  background: #c2ff86;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c2ff86 0%, #9aff38 57%, #7cfc00 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c2ff86 0%, #9aff38 57%, #7cfc00 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c2ff86 0%, #9aff38 57%, #7cfc00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2ff86', endColorstr='#7cfc00', GradientType=0);
  /* IE6-9 */
}

@mixin primary-hgradient {
  background: #7cfc00;
  /* Old browsers */
  background: -moz-linear-gradient(left, #7cfc00 0%, #9aff38 35%, #c2ff86 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #7cfc00 0%, #9aff38 35%, #c2ff86 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #7cfc00 0%, #9aff38 35%, #c2ff86 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7cfc00', endColorstr='#c2ff86', GradientType=1);
  /* IE6-9 */
}

@mixin black-gradient {
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #191919 55%, #323232 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, #191919 55%, #323232 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, #191919 55%, #323232 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#323232', GradientType=0);
  /* IE6-9 */
}

@mixin black-hgradient {
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(left, #000000 0%, #191919 45%, #323232 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 0%, #191919 45%, #323232 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 0%, #191919 45%, #323232 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#323232', GradientType=1);
  /* IE6-9 */
}

@mixin silver-gradient {
  background: #8e8e8e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8e8e8e 0%, #c0c0c0 48%, #dadada 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8e8e8e 0%, #c0c0c0 48%, #dadada 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8e8e8e 0%, #c0c0c0 48%, #dadada 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e8e8e', endColorstr='#dadada', GradientType=0);
  /* IE6-9 */
}

@mixin silver-hgradient {
  background: #8e8e8e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #8e8e8e 0%, #c0c0c0 44%, #dadada 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #8e8e8e 0%, #c0c0c0 44%, #dadada 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #8e8e8e 0%, #c0c0c0 44%, #dadada 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e8e8e', endColorstr='#dadada', GradientType=1);
  /* IE6-9 */
}
