<gt-container [hasWallpaper]="true" backgroundImage="assets/blog-1.jpg">
  <!-- <div id="inner-content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div class="intro-lead-in font-effect-emboss">"Growing Confidence in Communication!"</div>
    <a mat-button class="covid-link" href="/assets/COVID_Reopening June 2020.pdf" target="_blank">
      <mat-icon class="font-effect-3d-float">info</mat-icon>
      <span class="font-effect-outline btn-label">COVID Reopening June 2020</span>
      <mat-icon class="font-effect-3d-float">info</mat-icon>
    </a>
    <a mat-button class="covid-link-2" href="/assets/pdf/COVID_DAILY SCREENING July 2020.pdf" target="_blank">
      <mat-icon class="font-effect-3d-float">info</mat-icon>
      <span class="font-effect-outline btn-label">COVID Daily Screening July 2020</span>
      <mat-icon class="font-effect-3d-float">info</mat-icon>
    </a>
    <div class="intro-heading font-effect-3d-float">Welcome!</div>
    <gt-mission class="card"></gt-mission>
    <a mat-raised-button class="page-scroll btn btn-xl font-effect-outline" routerLink="/services">Tell Me More</a>
  </div> -->
</gt-container>
